.c-menu{
    background-color:cadetblue;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 15px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    color: aliceblue;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: lightcyan;
    text-decoration:overline;
}
